# Task 3 - US Healthcare Readmissions and Mortality
Author: [Adrian Vega](https://github.com/adriacv17) <br >Respository: [datafun-06-projects](https://github.com/adriacv17/datafun-06-projects) <br> Data: 09/28/2023 <br>Custom Exporatory Data Project

## Section 1-Load - Read from a data file into a pandas DataFrame.

In [1]:
import pandas as pd # import pandas library
import numpy as np # import numpy library

labvaluesdf = pd.read_csv('HepatitisCdata.csv', index_col=0) # Create DataFrame from csv file

labvaluesdf # call labvaluesdf DataFrame

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

## Section 2-View - Display the first 5 rows and the last 5 rows.

In [2]:
labvaluesdf.head(5) #display first 5 rows

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [3]:
labvaluesdf.tail(5) #display last 5 rows

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

## Section 3-Describe: Use the DataFrame describe() function to calculate basic descriptive statistics for all numeric columns.

In [4]:
pd.set_option('display.precision', 2) # format for floating-point values

labvaluesdf.describe()  # get basic descriptive statistics using describe() funtion using default numeric columns

,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
count,615.00,614.00,597.00,614.00,615.00,615.00,615.00,605.00,615.00,615.00,614.00
mean,47.41,41.62,68.28,28.45,34.79,11.40,8.20,5.37,81.29,39.53,72.04
std,10.06,5.78,26.03,25.47,33.09,19.67,2.21,1.13,49.76,54.66,5.40
min,19.00,14.90,11.30,0.90,10.60,0.80,1.42,1.43,8.00,4.50,44.80
25%,39.00,38.80,52.50,16.40,21.60,5.30,6.94,4.61,67.00,15.70,69.30
50%,47.00,41.95,66.20,23.00,25.90,7.30,8.26,5.30,77.00,23.30,72.20
75%,54.00,45.20,80.10,33.08,32.90,11.20,9.59,6.06,88.00,40.20,75.40
max,77.00,82.20,416.60,325.30,324.00,254.00,16.41,9.67,1079.10,650.90,90.00

## Section 4-Series: Use the Series method describe() to calculate the descriptive stats for all category/text columns.

In [5]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html for help with library

labvaluesdf.describe(exclude=[np.number]) #Excluding numeric columns from a DataFrame description.

             Category  Sex
count             615  615
unique              5    2
top     0=Blood Donor    m
freq              533  377

In [6]:
labvaluesdf.describe(include='object') #Including only objects from pandas.pydata.org

             Category  Sex
count             615  615
unique              5    2
top     0=Blood Donor    m
freq              533  377

## Section 5-Unique: Use the Series method unique() to get unique category values.

In [7]:
unique_category = labvaluesdf['Category'].unique() #Category/Type of the patient. Call all unique values
print(unique_category)

['0=Blood Donor' '0s=suspect Blood Donor' '1=Hepatitis' '2=Fibrosis'
 '3=Cirrhosis']

In [8]:
unique_sex = labvaluesdf['Sex'].unique() # m = male, f = female,  Call all unique values
print(unique_sex)

['m' 'f']

## Section 6-Histograms: Use the DataFrame's hist() function to create a histogram for each numerical column.

## Section 7-List: Get some of your information into a list. Process each item in the list (use for or comprehensions as you like).

## Section 8-Filter: Use filter() to show only part of the information.

## Section 9-Map: Use map() to transform some of the data.